__pycache__/
*.pyc
.pytest_cache/
.env
venv/
.venv/
instance/
uploads/profile_images/*
!uploads/profile_images/.gitkeep
uploads/invoices/*
!uploads/invoices/.gitkeep
uploads/payment_screenshots/*
!uploads/payment_screenshots/.gitkeep
*.xlsx
.DS_Store
